{% extends 'base.html.twig' %}

{% block title %}Ajout d'un nouveau membre{% endblock %}

{% block body %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        {{ include('_layouts/header_members_content/header_add-form_content.html.twig') }}
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <!-- general form elements disabled -->
                    <div class="card card-primary">
                        <div class="card-header"  style="text-align: center">
                            <h3 class="card-title">Ajout d'un nouveau membre</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                          {{ include('members/_form.html.twig') }}
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
{% endblock %}