{% for type, messages in app.flashes %}
    {% for message in messages %}
        <div role="alert" class=" alert alert-{{ type }} align-text-center">
            {{ message }}
        </div>
    {%  endfor %}
{% endfor %}