<div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">
            <h1>Modifier un membre</h1>
        </div>
        <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Tableau de Bord</a></li>
                <li class="breadcrumb-item"><a href="{{ path('app_member_list') }}">Membres</a></li>
                <li class="breadcrumb-item"><a href="{{ path('app_member_show', {id: member.id}) }}">Détail d'un membre</a></li>
                <li class="breadcrumb-item active">Modifier un membre</li>
            </ol>
        </div>
    </div>
</div><!-- /.container-fluid -->
